/* all */
*{
    margin: 0;
    padding: 0;
}
:root{
    --color-primario : #f3f5f6;
    --color-secundario: #0a3871;
    --color-termino: #495057;
}
/* header */
/* main */

.presentacion{
    position: relative;
    max-width: 100vw;
    max-height: 100vw;
    background: var(--color-primario);
}
/* footer */
